<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <title>Vue Example</title>
  </head>

  <body>
    <div id="example" class="container">
      <p>{{ hello }}</p>
      <input
        type="text"
        class="form-control"
        placeholder="Type something here"
        v-model="input"
      />
      <button type="button" class="btn btn-primary" v-on:click="btnReverse">
        Reverse
      </button>
      <p v-if="userInputIsTrue">{{ output }}</p>
    </div>
    <hr />
    <div id="todo" class="container">
      <h3>To Do</h3>
      <ul>
        <li v-for="(item, index) in list" v-bind:key="item.id">
          {{ item.text }}&nbsp;&nbsp;&nbsp;
          <button
            type="button"
            class="btn btn-warning"
            v-on:click="btnEdit(item.id)"
          >
            E
          </button>
          <button
            type="button"
            class="btn btn-danger"
            v-on:click="btnRemove(item.id)"
          >
            x
          </button>
        </li>
      </ul>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Add Item"
          v-model="todoInput"
          v-on:keyup="todoInputEnter"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" v-on:click="btnAdd">
            + Add
          </button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Edit Item"
          v-model="todoInputEdit"
        />
        <div class="input-group-append">
          <button class="btn btn-warning" type="button" v-on:click="btnEdit">
            Edit
          </button>
          <button
            class="btn btn-secondary"
            type="button"
            v-on:click="btnCancel"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      const example = new Vue({
        el: "#example",
        data: {
          hello: "Hello Vue!!!!!",
          input: "",
          output: "test",
          userInputIsTrue: false
        },
        methods: {
          btnReverse: function() {
            // console.log(this.input);
            this.userInputIsTrue = true;
            this.output = this.input
              .split("")
              .reverse()
              .join("");
          }
        }
      });
      const todo = new Vue({
        el: "#todo",
        data: {
          list: [],
          todoInput: ""
        },
        methods: {
          btnAdd: function() {
            // console.log("add", this.list.length);
            // console.log(this.todoInput)
            this.list.push({ id: this.list.length, text: this.todoInput });
            this.todoInput = "";
          },
          btnEdit: function(index) {
            console.log(index);
          },
          btnRemove: function(index) {
            // console.log("delete", index);
            this.list.splice(this.list.findIndex(i => i.id == index), 1);
          },
          todoInputEnter: function(e) {
            // console.log(e.key)
            if (e.key == "Enter") {
              this.btnAdd();
            }
          }
        }
      });
    </script>
    <style>
      .error-msg {
        color: red;
      }
      .error-input {
        border-style: solid;
        border-color: red;
        border-width: 2px;
      }
    </style>
  </body>
</html>
